* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section */

.header-container {
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    height: 100vh;
}

.header-info {
    float: right;
    max-width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 230px;
    text-align: right;

}

.header-title {
    margin: 216px 0 20px 0;
    color: #151414;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
}

.section-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.header-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
    padding: 21px 25px 20px 26px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    /* text-align: right; */
    /* float: right; */
}

/* main section */
.about {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 170px 272px 0 0;
    color: #444343;
}

.circle {
    height: 528px;
    width: 528px;
    border-radius: 528px;
    background: rgba(241, 91, 34, 0.20);
    margin: 266px 0 130px 160px;
    /* position: absolute; */
}

.person-img {
    margin: 70px 0 0 138px;
    position: absolute;
    z-index: 1;

}


.about-info {
    max-width: 416px;
}

.about-info>h2 {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.about-info li {
    margin-top: 10px;
    list-style: none;
    line-height: 26px;
}

/* my plans */
.plan-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 56px 0;
}

.plan-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 150px;
}

.plan-box {
    text-align: center;
}

.plan-container h3 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.plan-container p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.plan-end {
    position: absolute;
    margin: 196px 200px;
}
.plan-end img{
    max-width: 1040px;
}
.plan-end h2 {
    padding: 59px 0 0 64px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.plan-end button{
    margin: 24px 0 0 64px;
}
.btn-footer {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px 20px 36px;
    border: none;
    border-radius: 5px;
    background: #FFF;
}